# Entorno virtual de Python
venv/
.venv/
env/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Datos pesados de Tyre Test Consortium (TTC)
*.mat
*.csv
data/
raw_data/

# Archivos de configuración de Obsidian / IDEs
.obsidian/
.vscode/
.idea/

# Graficas y resultados generados
plots/
results/
logs/
GEMINI.md
